.bar{
    width: 100vw;
    height: 8vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ecf0ee;
    .logo{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        h2{
            font-family: 'Shadows Into Light', cursive;
            font-weight: 600;
            font-size: 1.75em;
            cursor: pointer;
        }
        img{
            cursor: pointer;
            height: 6rem;
        }
    }
    .links{
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        ul{
            list-style-type: none;
            li{
                display: inline-block;
                margin-right: 3rem;
                a{
                    color: black;
                    text-decoration: none;
                    font-size: 1.25em;
                    font-family: 'Roboto', sans-serif;
                }
                a:hover{
                    transition: .25s linear;
                    color: #008cff;
                    font-family: 'Fira sans', sans-serif;
                }
            }
        }
        .menuIcon{
            width: 2rem;
            display: none;
        }
    }
}
@media screen and (max-width:1024px) {
    .bar{
        height: 10vh;
    }
    .bar .links ul li {
        margin-right: 1.5rem;
    }
}
@media screen and (max-width:768px) {
    .bar .links .menuIcon{
        display: block;
    }
    .bar .links .opened{
        display: none;
    }
}